
<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="centered-content">
    <form method="POST">
        <h2>Create New Post</h2>
        <input type="text" name="title" placeholder="Title" required><br>
        <input type="text" name="author" placeholder="Author" required><br>
        <textarea name="content" placeholder="Write your post content here..." required></textarea><br>
        <input type="submit" value="Create Post">
    </form>
</body>
</html>

